%div{ id: 'product-container' }
  %div{ id: 'product-container-left' }
    %h1{ id: 'title' }=@product.title
    =@product.body_html.html_safe
    %span{ id: 'price' }="$ #{@product.variants.first.price}"
    %br
    %label='Size'
    %select
      - @sizes.map do |size|
        %option{ value: size }=size
    %label='Quantity'
    %br
    %input{ type: 'number', id: 'quantity' }
    %button{ id: 'add-to-cart' }='ADD TO CART'
  %div{ id: 'product-container-right' }
    %img{ src: @product.image.src }
