%div{ id: 'product-container' }
  %div{ id: 'product-container-left' }
    %h1{ id: 'title' }=@product.title
    =@product.body_html.html_safe
    %span{ id: 'price' }="$ #{@product.variants.first.price}"
    %br
    %form{ id: 'cart-form' }
      =hidden_field(:item, :price, value: @product.variants.first.price)
      =hidden_field(:item, :image, value: @product.image.src)
      =hidden_field(:item, :title, value: @product.title)
      %label='Size'
      %select{ required: true, name: 'item[id]', id: 'size' }
        - @sizes.map do |size|
          %option{ value: size[:value] }=size[:label]
      %label='Quantity'
      %br
      %input{ type: 'number', id: 'quantity', name: 'item[quantity]', required: true }
      %button{ id: 'add-to-cart' }='ADD TO CART'
  %div{ id: 'product-container-right' }
    %img{ src: @product.image.src }
