%header
  #promo-bar
    %span='SHIPMENT TIMES MAY BE SLOWER THAN NORMAL DUE TO COVID-19'
    %i{ class: 'fa fa-times', id: 'close-promo' }
  %h1=image_tag("factory43smokestack.png")
  %nav
    %ul{ id: 'nav-items' }
      - @collections.each do |collection|
        %li{ class: 'collection' }
          - if collection[:types].length < 2
            .nav-item
              %span{ class: 'nav-title' }
                %a{ href: "/collections/#{collection[:handle]}" }=collection[:title]
          - else
            .nav-item
              %span{ class: 'nav-title' }
                %a{ href: "/collections/#{collection[:handle]}" }=collection[:title]
                =image_tag("chevron.svg", class: 'chevron')
                %ul
                  - collection[:types].map do |type|
                    %li
                      %a{ href: "/collections/#{type.underscore}" }
                        %span{ class: 'type-item' }=type
      %span{ id: 'cart' }
        %a{ id: 'cart-link', href: "/cart" }='Cart'
